<div class="sidebar">
    <div class="logo">
<a [routerLink]="'summary'">
    <img src="../../../../assets/img/coronavirus-g94c51a1db_1280.png" alt="logo">

</a>
    </div>

    <div class="navigation">
        <ul class="list-unstyled">
            <li [routerLink]="'summary'" routerLink="active"><a >Summary</a></li>
        <li [routerLink]="'country'" routerLink="active">
            <a >By Country</a>
        </li> 
        <li [routerLink]="'live'" routerLink="active">
            <a >Live</a>
        </li>
      
        <li>  
     </ul>
    </div>
</div>

