<div class="row mt-5">
    <div class="col">
      <table class="table">
        <thead>
            <tr>
                <th scope="col ">#</th>
                <th scope="col ">Country</th> 
                <th scope="col ">Total Cases</th>
                <th scope="col ">Total Recovered</th>
                <th scope="col ">Total Deaths</th>
            </tr>
        </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>USA</td>
                    <td>233,435</td>
                    <td>2,456</td>
                     <td>175,231</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>UK</td>
                    <td>233,435</td>
                    <td>2,456</td>
                     <td>175,231</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Brasil</td>
                    <td>233,435</td>
                    <td>2,456</td>
                     <td>175,231</td>
                </tr>
            </tbody>
       
      </table>  
    </div>
</div>